{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-5">重置您的乐学偶得账号密码</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">点我重置密码</button>
            </div>
        </form>
        <div class="border-top pt-5">
            <small class="text-muted">
                还没加入了乐学偶得？<a class="ml-3" href="{% url 'register' %}">点我注册</a>
            </small>
        </div>
    </div>
{% endblock content %}