{% extends "forum/base.html" %}
{% block content %}
    <article class="media content-section">
        <img src="{{ object.author.profile.image.url }}" alt="img" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"Y 年 n 月 d 日" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {% if object.author == user %}
                <div>
                    <a href="{% url 'post-update' object.id %}" class="btn btn-secondary">更新Chat</a>
                    <a href="{% url 'post-delete' object.id %}" class="btn btn-danger">删除Chat</a>
                </div>
            {% endif %}
        </div>

    </article>
{% endblock content %}

